<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <style>
      body{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .center img{
        width:200px;
        height:200px;
      }
    </style>
    <div id="random" style="display:none"><%= random %></div>
    <div class="center" id="content"><img src="<%= img %>" alt=""></div>
  <script src="/js/code.js"></script>
  </body>
</html>