<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>solo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="/css/global.css">
<link rel="stylesheet" type="text/css" href="/css/demo.css">

<script src="/js/lib/zepto.min.js"></script>
<script src="/js/lib/frozen.js"></script>

</head>
<body>

<div class="ui-loading-wrap loading">
    <p>加载中</p>
    <i class="ui-loading"></i>
</div>

<div class="ui-dialog" id="wram">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <h4>提示</h4>
            <div>起码给个昵称，叫啥都行！</div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button"  onclick="warmNo()">就是不给！</button>
            <button type="button"  onclick="warmYes()">好的</button>
        </div>
    </div>        
</div>

<div class="ui-dialog" id="warmLoginOut">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <h4>提示</h4>
            <div>确认退出账号吗！</div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" onclick="warmLoginOutNo()">还是再想想吧！</button>
            <button type="button"  onclick="warmLoginOutYes()">确认了</button>
        </div>
    </div>        
</div>
<div id="enter" class="enter">
<ul class="ui-list ui-list-text ui-list-radio">
    <li class="ui-border-t">
        <label class="ui-radio" for="radio" >
            <input type="radio" checked="" name="Sex" value="girl"  />
        </label>
        <p>
            女
        </p>
    </li>
    <li class="ui-border-t">
        <label class="ui-radio" for="radio" >
            <input type="radio" name="Sex" value="boy" />
        </label>
        <p>
            男
        </p>
    </li>
</ul>
     <div class="ui-form-item ui-border-b">
        <label for="#">昵称</label>
        <input type="text" placeholder="昵称" id="user_name" />
        <a href="#" class="ui-icon-close">
        </a>
    </div>
    <div class="ui-notice-btn">
        <button class="ui-btn-primary ui-btn-lg" id="start">进入</button>
    </div>
    
</div>
<div id="first" style="display:none;">
    <h2 class="title ui-border-b">
        <a href="/nsn" class="ui-arrowlink">聊天室</a>
        <a class="ui-btn online" href="javascript:;" id="num" style="display:none;">人：1000</a>
        <a class="ui-btn" href="javascript:;" onClick="loginout()">退出</a>
    </h2>

    <h2 class="title ui-border-b sendLabel">
    <div class="content">
        <div  class="ui-searchbar-wrap ui-border-b">
            <div class="ui-searchbar">
                <div class="ui-searchbar-text">发言</div>
                <div class="ui-searchbar-input"><input value="" type="text" placeholder="发言" autocapitalize="off" id="cont"></div>
            </div>
        
            <button class="ui-btn ui-btn-primary" id="send" onClick="setup(document.getElementById('cont').value,ws)">确定</button>
        </div> 
    </div>
    </h2>
    <ul class="ui-list ui-border-tb sendList" id="contList">  
        
      
    </ul>
</div>
<script src="/js/main.js"></script>

</body>
</html>
